body{
    background-color: blue;
    border: auto;
}
form{
    border-radius: 5px;
    min-width: 450px;
    width: auto;
    height: 300px;
    background-color: beige;
}

.question{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.case{
    margin-top: 15px;
    margin-bottom: 15px;
display: flex;
min-width  : 100px;
min-height : 100px;
width: 25%;
display: inline;
background-color: bisque;
border-radius: 5px;
align-items: center;
}

