*{
    align-self: auto;
    text-align: center;
    background-color: #6c9e9b;
    font-family: "Montserrat", sans-serif;
}

header {
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

nav a{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

#homeLogo {
    transition: transform .2s;
    /* -webkit-backface-visibility: hidden; */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

#homeLogo:hover{
    transform: scale(1.05);
}

#logedin{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#userLink{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width:150px;
}

#accountImg{
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(30, 42, 43);
    display: none;
}

#username_{
    display:none;
}

#loginBtn , #logoutBtn{
    padding: 9px 25px;
    background-color: #0087a8;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(30, 42, 43);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

#logoutBtn{
    background-color: #a84c00;
    display:none;
    top:50%;
}

#loginBtn:hover, #logoutBtn:hover{
    background-color: #08637a;
    color: #c5cacc;
}

#logoutBtn:hover{
    background-color: #7c3903;
    color: #c5cacc;
}







main{
    border-radius: 10px;
    border-style: solid;
    background-color: #edf0f1;
}
main h1, main div{
    background-color: #edf0f1;

}
main p{
    background-color: #edf0f1;
    font-size: 150%;
}

.main{
    align-content: center;
    align-self: center;
}
.para{
    align-self: auto;
    display: block;
    padding: 10px;
}

#btnFact{
    padding: 9px 25px;
    background-color: #0087a8;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(30, 42, 43);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

button:active{
    transform: scale(0.98);
}

button:focus{
    outline: none;
}